* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #C1B5AD;
}

#map {
  height: 100vh;
  width: 100vw;
  /* flex: 2 1 50% */
  flex-grow: 2;
  flex-shrink: 2;
}

#navBar {
  display: flex;
  background-color: aquamarine;
  justify-content: space-between;
  align-items: center;
}

#navBar #title h1 {
  color: darkmagenta;
  font-size: 1.5rem;
  padding: 0;
  margin: 0;
}

#navBar #title p {
  color: darkmagenta;
  font-size: 1rem;
  padding: 0;
  margin: 0;
}

#nav {
  display: flex;
}

#nav li {
  margin: 1em;
  padding: 0;
  list-style-type: none;
}

#nav li a {
  text-decoration: none;
}

#options-panel, #itinerary {
  width: 20vw;
  height: 40vh;
  font-size: .75em;
}

#options-panel {
  background-color: fuchsia;
}

#itinerary {
  background-color: tomato;
}

#main {
  display: flex;
}

#sidepanel {
  /* flex: 1 1 25% */
  flex-grow: 1;
}

@media only screen and (max-width:480px) {
  #main {
    flex-direction: column;
  }

  #options-panel, #itinerary {
    width: 100vw;
  }

  #map {
    height: 60vh;
  }
}
